<div class="row">
  <div class="col-md-2"><a href="#"><%= image_tag("facebook.png", size: "50x43") %></a></div>
  <div class="col-md-2"><%= image_tag("twitter.png", size: "50x43") %></div>
  <div class="col-md-2"><%= image_tag("youtube.png", size: "50x43") %></div>
  <div class="col-md-2"><%= image_tag("instagram.png", size: "50x43") %></div>
  <div class="col-md-2"><%= image_tag("email.png", size: "50x43") %></div>
</div>