<%= form_with model: @article, local: true do |form| %>
  <% if !(@article.portrait.file.nil?) %>
  <%= image_tag(@article.portrait.url, class: "image-post") %>
  <% end %><br>
  <% if !@article.title.nil? %>
  <h2><%= @article.title %></h2>
  <% end %>
  <hr>
  <% if !@article.text.nil? %>
  <%= @article.text %>
  <% end %>
  <hr>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> Impediram este artigo de ser salvo:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <div class="form-group">
    <%= form.label :title, 'Título' %><br>
    <%= form.text_field :title, class: "form-control" %>
    </div>
  </p>
 
  <p>
    <div class="form-group">
    <%= form.label :text, "Texto" %><br>
    <%= form.text_area :text, class: 'form-control', rows: '9' %>
    </div>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, options_for_select([["Publicar", "pub"], ["Rascunho", "rasc"], ["Estoque","est"], ["Agendar","agn"]]) %>
  </p>
  
  <p>
    <%= form.label :portrait %><br>
    <%= form.file_field :portrait, accept: 'image/png,image/gif,image/jpeg', class: "btn btn-default" %>
    <%= form.hidden_field :portrait_cache %>
  </p>
  <p>
    <%= form.submit 'Submeter', class: 'btn btn-primary' %>
  </p>
 
<% end %>