<h1>Publicações recentes</h1>
  <% @articles.each do |article| %>
   <hr>
   <div class="row">
   <div class="col-md-12">
     
        <img class="portrait-img" src="<%= article.portrait.url %>">
          
          
        
      </div>
  </div>
  <div class="row">
    <div class="col-md-12"><%= article.text[0...30] %></div>
  </div>
  <%= link_to 'Show', article_path(article) %> 
  <%= link_to 'Edit', edit_article_path(article) %> 
  <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
