<div class="col-md-12">
  <div align="center">
  <h2><%= @article.title %></h2>
 <p>
   <%= image_tag(@article.portrait, class: 'detailed-image') %>
   </div>
 </p>
<p>
  <hr>
  <%= @article.text %>
</p>
<hr>
<h2>Comments</h2>
<%= render @article.comments %>

<%= render 'comments/form' %>

<%= link_to 'Voltar', root_path %> <br>
<% if post_permissions %>
<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Apagar', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>