<div class="col-md-7">
<%= render 'layouts/slides' %>
<%= render 'articles/index' %>
</div>
<div class="col-md-5">
<%= render 'layouts/social' %>
  <div class="right-line">
    <div class="row">
      <div class="col-md-6">
      <%= render 'layouts/searchbar' %>
      </div>
      <div class="col-md-5">
        <div class="usermenu">
        <%= render 'layouts/usermenu' %>
        </div>
      </div>
    </div>
    
  </div>
  <%= render 'layouts/parcerias' %>
</div>  