<div class="col-md-8">
<%= render 'layouts/slides' %>
<%= render 'articles/index' %>
</div>
<div class="col-md-4">
<%= render 'layouts/social' %>
  <div class="right-line">
    <div class="row">
      <div class="col-md-12">
      <%= render 'layouts/searchbar' %><br>
      <div class="usermenu">
        <%= render 'layouts/usermenu' %>
        </div>
      </div>
    </div>
    
  </div>
  <%= render 'layouts/parcerias' %>
</div>  