<div class="slide-size">
<div id="slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% 5.times do |t|%>
    <% if !@articles[t].nil? %>
    <li data-target="#slide" data-slide-to="<%= t %>" class="<%= if !(t > 0) then "active" end %>"></li>
    <% end %>
  <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% 5.times do |t|%>
    <% if !@articles[t].nil? %>
    <div class="item <%= if !(t > 0) then "active" end %>">
      <div class="container-article">
        <img class="img-slide" src="<%= @articles[t].portrait.url %>">
        
        <div class="centered-article-upper">
          <table class="table-slide">
          <tr>
            <td class="title-slide"><%= @articles[t].title[0..70] %><% if @articles[t].title.size > 70 %>...<% end %></td>
          </tr>
          <tr>
            <td class="text-slide"><%= @articles[t].text[0..90] %>...</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  
</div>
</div>